<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.egood.magtek-udynamo" version="0.0.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MagTek uDynamo Card Reader</name>
    <description>Allow using the MagTek uDynamo Card Reader with PhoneGap apps</description>
    <author>eGood, LLC</author>
    <license>Apache 2.0</license>
    <keywords>magtek,card reader,credit card,reader</keywords>

    <js-module src="www/js/magtek_udynamo.js" name="MagTek">
        <clobbers target="cordova.plugins.MagTek" />
    </js-module>
</plugin>
